Options +FollowSymlinks
RewriteEngine on
RewriteRule ^inscription$ /controller/pageInscription.controller.php [L]
RewriteRule ^accueil$ /controller/pageAccueil.controller.php [L]
RewriteRule ^connexion$ /controller/pageConnexion.controller.php [L]
RewriteRule ^pronostics$ /controller/pagePronostics.controller.php [L]
RewriteRule ^my-resultats$ /controller/pageResultats.controller.php [L]
RewriteRule ^my-resultats/1$ /controller/pageResultats.controller.php?mode=1 [L]
RewriteRule ^classement$ /controller/classement.controller.php [L]
RewriteRule ^profil$ /controller/profil.controller.php [L]
RewriteRule ^deconnexion$ /controller/deconnexion.controller.php [L]
RewriteRule ^gestion$ /controller/adminCompetition.controller.php [L]
RewriteRule ^resultats$ /controller/gestionResultats.controller.php [L]
RewriteRule ^admins$ /controller/gestionAdmins.controller.php [L]
RewriteRule ^joueurs$ /controller/gestionJoueurs.controller.php [L]
RewriteRule ^redirection$ /controller/redirection.controller.php [L]
RewriteRule ^profil/mdp$ /controller/modifierMdpJoueur.controller.php [L]
RewriteRule ^profil/email$ /controller/modifierEmailJoueur.controller.php [L]